/* General styling that affects entire document */
body {
    margin: 0;
    padding: 0;
    background-color: rgb(29, 29, 29);
    font-family: Raleway, sans-serif;
    min-width: 800px;
}

.uppercase {
    text-transform: uppercase;
}

/* Styling that affects the top banner (image overlay) */
.head-banner {
    width: 100%;
    background-image: url("../images/coding-pic2.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; 
    background-color: rgba(0,0,0,0.7);
    overflow: hidden;
}

/* Navigation bar styling */
.navbar {
    display: flex;
    justify-content: space-between;
}

.navbar .left {
    padding: 20px;
}

.navbar .right {
    display: flex;
    padding: 16px;
}

.navbar .right div {
    padding: 14px 16px;
}

.navbar .right div a{
    color: rgb(226, 226, 226);
    letter-spacing: 0.2em;
    text-decoration: none;
    font-size: 12.5px;
    font-weight: 500;
}

.navbar .right div a:hover{
    color: white;
    transition: 0.15s;
}

.navbar .right div .current {
    color: white;
    text-decoration: none;
}

.navbar .right div .donate:hover {
    color: black;
    background-color: white;
    text-decoration: none;
    transition: 0.15s;
}

.navbar .right .border {
    border: solid 2px white;
    border-radius: 50px;
    padding: 12px 16px;
}

/* Styling for text within banner */
.banner-overlay {
    display: flex;
    justify-content: center;
    flex-flow: wrap;
    padding: 120px 150px 200px 150px;
}

.banner-text {
    display: flex;
    justify-content: center;
    flex-flow: wrap;
    width: 50%;
}

.banner-overlay h2 {
    font-size: 24px;
    text-align: center;
    font-style: italic;
    font-weight: 300;
    color: white;
}

.banner-overlay h1 {
    margin-top: 0px;
    font-size: 70px;
    text-align: center;
    font-weight: 700;
    letter-spacing: 0.05em;
    line-height: 1em;
    color: white;
}

.banner-button {
    background-color: rgb(0, 111, 202);
    padding: 12px 24px;
    color: white;
    cursor: pointer;
    border: solid 2px rgb(0, 111, 202);
    border-radius: 25px;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.1em;
}

.banner-button:hover {
    background-color: rgb(0, 86, 156);
    padding: 12px 24px;
    color: white;
    cursor: pointer;
    border: solid 2px rgb(0, 86, 156);
    border-radius: 25px;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.1em;
}